body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.font {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.color-primary{
    color:rgba(253, 110, 10, 1);
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right:50px;
    
}
nav a{
    text-decoration: none;
}
.button-primary{
  background-color:rgba(253, 110, 10, 1);
    border-radius:5px;
    border:0;
    color:white;
    font-size:20px;
    font-weight:700;
    padding:15px 35px;
}